/* Put these src/app/app.component.css */
:host {
  --content-padding: 10px;
}
header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: var(--content-padding);
  box-shadow: 0px 5px 25px var(--shadow-color);
}

app-theme-toggle {
  padding: 10px;

}

a {
  align-content: center;
  padding-top: 20px;
}

.brand-logo {
  height: 100px;
}

.content {
  padding: var(--content-padding);
}
