* {
  margin: 0;
  padding: 0;
}


:root {
  --primary-color: #9c27b0;
  --secondary-color: #b599e8;
  --accent-color: #d6bbe8;
  --shadow-color: #E8E8E8;
  --text-color: #000000;
}

.dark-theme {
  background-color: #2a2626;
  --secondary-color: #7857a9;
  --accent-color: #2d2b41;
  --shadow-color: #1c1c1c;
  --text-color: lightgrey;
}

button.primary {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

button.primary:active {
  background-color: #4a47a3;
}

button:disabled{
  background: grey !important;
  pointer-events: none;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mdc-dialog__surface {
  background-color: var(--accent-color) !important;
  border-radius: 8px !important;
}

.mdc-dialog__title, .mdc-dialog__content, .mdc-button {
  color: var(--text-color) !important;
}
